<div class="dashboard-body-content">
    <a href="javascript:void(0);" routerLink="/admin/service-boy/list"><h5><i class="fas fa-chevron-left mr-2"></i>Service boy calender</h5></a>
    <hr>
    
    <h5 class="text-blue">Work days and time</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
                <th width="10%">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of timeSlot; let i=index;">
                <td>{{weekdays[item.day]}}</td>
                <td>{{item.start}}</td>
                <td>{{item.end}}</td>
                <td style="cursor:pointer;" (click)="removeTimeSlot(i)"><i class="fas fa-times text-danger"></i></td>
            </tr>
        </tbody>
    </table>
    
    <form #timeslotForm="ngForm" (ngSubmit)="timeslotFormSubmit(timeslotForm); timeslotForm.resetForm()">
        <div class="row m-0 pt-3">
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="title">Day</label>
                    <select name="day" #day="ngModel" ngModel="1" id="serviceBoyForm" class="form-control" required>
                        <option *ngFor="let item of weekdays; let i=index" [value]="i">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group edit-box">
                    <label for="start">Start Time</label>
                    <input type="time" #start="ngModel" name="start" id="start" ngModel class="form-control" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group edit-box">
                    <label for="end">End Time</label>
                    <input type="time" #end="ngModel" name="end" id="end" ngModel class="form-control" required>
                </div>
            </div>
            <div class="col-lg-2 mt-auto">
                <div class="form-group edit-box">
                    <button type="submit" class="actionbutton">Add <i class="fas fa-plus"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="text-danger">{{errorMessage}}</span>
            </div>
        </div>
    </form>

    <hr>
    
    <h5 class="text-blue">Add day off</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Off Type</th>
                <th>Date</th>
                <th>Note</th>
                <th width="10%">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of daysOff; let i=index;">
                <td>{{item.offType}}</td>
                <td>{{item.offDate | date: 'MMM d, y'}}</td>
                <td>{{item.note}}</td>
                <td style="cursor:pointer;" (click)="removeDaysoff(i)"><i class="fas fa-times text-danger"></i></td>
            </tr>
        </tbody>
    </table>
    <form #daysOffForm="ngForm" (ngSubmit)="daysOffFormSubmit(daysOffForm); daysOffForm.resetForm()">
        <div class="row m-0 pt-3">
            <div class="col-lg-2">
                <div class="form-group edit-box">
                    <label for="title">Off Type</label>
                    <select name="offType" #offType="ngModel" ngModel="full" id="offType" class="form-control" required>
                        <option value="half">Half</option>
                        <option value="full">Full</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group edit-box">
                    <label for="offDate">Off Date</label>
                    <input type="date" #offDate="ngModel" name="offDate" id="offDate" ngModel class="form-control" required [min]="minDate">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group edit-box">
                    <label for="note">Note</label>
                    <input type="tel" #note="ngModel" name="note" id="note" ngModel class="form-control" required>
                </div>
            </div>
            <div class="col-lg-2 mt-auto">
                <div class="form-group edit-box">
                    <button type="submit" class="actionbutton">Add <i class="fas fa-plus"></i></button>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="text-danger">{{errorMessage}}</span>
            </div>
        </div>
    </form>
    
    <div class="form-group d-flex justify-content-end pt-4">
        <button class="actionbutton" routerLink="/admin/service-boy/list">CANCEL</button>
        <button type="submit" class="actionbutton ml-2" (click)="serviceBoyFormSubmit()">SAVE</button>
    </div>
</div>