<div class="dashboard-body-content">
    <div class="d-block">
        <div class="float-left">
            <h5>Order List</h5>
        </div>
        <div class="float-right">
            <!-- <a href="javascript:void(0);" class="orderbtn btn btn-sm" data-toggle="modal" data-target="#exportModal">Export Data</a>
            <a href="javascript:void(0);" class="orderbtn btn btn-sm">Payment Collected</a>
            <a href="javascript:void(0);" class="orderbtn btn btn-sm">Order Delivered</a> -->
        </div>
        <div class="clearfix"></div>
    </div>
    <hr>
    <div class="row m-0">
        <div class="col-12 col-md-9 mb-4 row m-0">
            <div class="col-12 col-md-3 plr-2">
                <input type="text" class="form-control" placeholder="Order Id..." aria-label="Recipient's username" aria-describedby="button-addon2" (keyUp)="searchOrder($event,'id')">
            </div>
            <div class="col-12 col-md-3 plr-2">
                <select class="form-control" (change)="searchOrder($event,'store')">
                    <option value="" hidden>Select Hub</option>
                    <option *ngFor="let item of storeList" value="{{item._id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="col-12 col-md-2 plr-2">
                <select class="form-control" (change)="searchOrder($event,'orderStatus')">
                    <option value="" hidden>Order Status</option>
                    <option value="new">new</option>
                    <option value="picked">picked</option>
                    <option value="processed">processed</option>
                    <option value="delivered">delivered</option>
                    <option value="cancelled">cancelled</option>
                </select>
            </div>
            <div class="col-12 col-md-2 plr-2">
                <select class="form-control" (change)="searchOrder($event,'paymentStatus')">
                    <option value="" hidden>Payment Status</option>
                    <option value="outstanding">Outstanding</option>
                    <option value="paid">Paid</option>
                    <option value="pending">Pending</option>
                </select>
            </div>
            <div class="col-12 col-md-2 pl-0 pr-0 d-flex align-items-center" *ngIf="filter">
                <a href="javascript:void(0);" class="orderbtn btn btn-sm" (click)="clearFilter()">Clear</a>
            </div>
        </div>
    </div>
    <div class="table-responsive edit-table card-body p-0">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <tr>
                    <td colspan="8"></td>
                    <td class="table-success"><span>₹</span> {{billAmount}}</td>
                    <td class="table-info"><span>₹</span> {{dueAmount}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>Order Id</th>
                    <th>Customer Name</th>
                    <th>Hub</th>
                    <th>Picked Up Date</th>
                    <th>Picked Up Time</th>
                    <th>Order Status</th>
                    <th>Payment Status</th>
                    <th>Billed Amount</th>
                    <th>Due Amount</th>
                    <!-- <th style="width:80px" class="text-center">Action</th> -->
                </tr>
            </thead>
            <tbody *ngIf="orderList.length; else emptyBlock;">
                <tr *ngFor="let order of orderList">
                    <td><input type="checkbox" class="form-check-input" id="exampleCheck2"></td>
                    <td>{{order?._id}}</td>
                    <td>{{order?.customer?.name}}</td>
                    <td>{{order?.store?.name}}</td>
                    <td>{{order?.pickup?.pickup_date | date: "MMM d, y"}}</td>
                    <td>{{order?.pickup?.pickup_time}}</td>
                    <td>
                        <span class="badge badge-success">{{order?.orderStatus}}</span>
                    </td>
                    <td>
                        <span class="badge badge-success">{{order?.paymentStatus}}</span>
                    </td>
                    <td> <span>₹</span> {{order?.totalAmount}}</td>
                    <td><span>₹</span> {{order?.totalAmount - order?.totalPaid}}</td>
                    <!-- <td class="text-center">
                        <a href="javascript:void(0);"><i class="far fa-eye"></i></a>
                    </td> -->

                </tr>
            </tbody>
            <ng-template #emptyBlock>
                <tbody>
                    <tr>
                        <td colspan="11">No data!</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
    <nav class="pagination-container mt-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i
                        class="fa fa-angle-double-left previous-img"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link active" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i
                        class="fa fa-angle-double-right next-img"></i></a></li>
        </ul>
    </nav>
</div>