.nav-pills .nav-link.active {
    color: #fff;
    background-color: #007bff;
    /* padding: 0px; */
    margin: 0px 2px;
    border-radius: 20px;
}
.nav-pills .nav-link {
    margin: 0px 2px;
    border-radius: 20px;
}
input[type=text]{
    background: #fff;
}