<div class="dashboard-body-content">
    <div class="row m-0 justify-content-between">
      <div class="col-12 col-lg-8">
        <div class="addres_sec border-bottom">
          <p><b>{{pickUpDetails?.customerId?.name}}</b></p>
          <h5 class="mb-3">Address:</h5>
          <p class="w-50"> {{pickUpDetails?.addressId?.addressLine1}}, {{pickUpDetails?.addressId?.addressLine2}}</p>
          <p class="w-50"> {{pickUpDetails?.addressId?.pin}}</p>
          <p>Phone No. : <b>{{pickUpDetails?.customerId?.phone}}</b></p>
        </div>
        <!--tabsection-->
        <div class="mt-4">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let category of categoryList">
              <button (click)="changeSelectedCatgeory(category)" class="nav-link {{(selectedCategoryInfo?._id == category?._id) ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{category?.name}}</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
            </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row m-0 qitem_cars">
                <div class="col-6 col-lg-4" *ngFor="let item of itemList;"> 
                  <div class="card shadow-0">
                    <img src="{{item?.image}}" class="card-img-top">
                    <!-- <div class="del_icon">
                      <a href=""><i class="fas fa-trash-alt"></i></a>
                      <a href=""><i class="fas fa-pen"></i></a>
                    </div> -->
                    <div class="card-body p-2">
                      <h5 class="card-title">{{item?.name}}</h5>
                    </div>
                    <div class="card-footer p-2 bg-white qut_sec">
                      <div class="input-group">
                        <span class="input-group-prepend" (click)="removeQuantity(item)">
                          <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled"
                            data-type="minus" data-field="quant[]">
                            <span class="fa fa-minus"></span>
                          </button>
                        </span>
                        <input type="text" name="quant[1]" class="form-control input-number" value="{{checkCurrentQuantityCount(item)}}" min="0" [readonly]="true">
                        <span class="input-group-append" (click)="addQuantity(item)">
                          <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus"
                            data-field="quant[1]">
                            <span class="fa fa-plus"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">b</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">c</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 order_value">
        <div class="card border-0 p-3 bg-light sticky-top">
          <h5>Your order</h5>
          <div>
            <table class="table table-sm">
              <tr>
                <th>PRODUCT</th>
                <th>SUBTOTAL</th>
              </tr>
              <tr *ngFor="let cartInfo of cartItem.cart">
                <td>{{cartInfo?.itemName}} - {{cartInfo?.categoryName}}  × {{cartInfo?.quantity}}</td>
                <td><span>{{selectedCurrency}}</span> {{cartInfo?.price}}</td>
              </tr>
              <tr>
                <td>SUBTOTAL</td>
                <td><span>{{selectedCurrency}}</span> {{totalCartValue}}</td>
              </tr>
              <tr *ngIf="gstValue > 0">
                <td>GST</td>
                <td><span>{{selectedCurrency}}</span> {{gstValue}}</td>
              </tr>
              <tr>
                <td><b>TOTAL</b></td>
                <td><span>{{selectedCurrency}}</span> {{totalCartValue + gstValue}}</td>
              </tr>
            </table>
            <button class="btn btn-success" *ngIf="totalCartValue > 0" (click)="submitCartProductInfo()">Submit cart</button>
            <!-- {{orderCreateInfo | json}} -->
          </div>
        </div>
      </div>
    </div>
  </div>