<div class="dashboard-body-content-upper p-0">
    <div class="row m-0">
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/Total-Customers.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalCustomer}} <span>Total Customers</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/new-Customers.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalNewCustomer}} <span>New Customers</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/total-Products.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalItem}} <span>Total Products</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/new-Products.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalNewItem}} <span>New Products</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/total-tickets.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalOrder}} <span>Total Orders</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/new-ticket.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalNewOrder}} <span>New Orders</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/Ongoing-Tickets.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalOngoingOrder}} <span>Ongoing Orders</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body gpcVCf">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/complete-ticket.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData?.totalCompletedOrder}} <span>Completed Orders</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 mt-3 col-12">
        <div class="card border-0 shadow-sm col-12 p-0">
            
            <div class="row justify-content-between m-0 dashboard p-2">
                <div class="col-12 col-md-6">
                    <div class="card border-0">
                        <div class="card-header d-flex justify-content-between">
                            <h5>New Pickup Request</h5>
                            <h5>{{newPickUpCount}}</h5>
                        </div>
                        <div class="card-body table-responsive edit-table p-0">
                            <table class="table table-sm table-hover brand-table">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Customer Name</th>
                                        <th>Picked Up Date</th>
                                        <th>Picked Up Time</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="newPickUpCount > 0; else emptyBlock;">
                                    <tr *ngFor="let item of dashboardData.newPickup">
                                        <td>{{item?._id}}</td>
                                        <td>{{item?.customerId?.name}}</td>
                                        <td>{{item?.pickup_date | date:'MMM d, y'}}</td>
                                        <td>{{item?.pickup_time}}</td>
                                    </tr>
                                </tbody>
                                <ng-template #emptyBlock>
                                    <tr>
                                        <td colspan="4">No data</td>
                                    </tr>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card border-0">
                        <div class="card-header d-flex justify-content-between">
                            <h5>Ready To Be Delivered</h5>
                            <h5>{{deliveryCount}}</h5>
                        </div>
                        <div class="card-body table-responsive edit-table p-0">
                            <table class="table table-sm table-hover brand-table">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Customer Name</th>
                                        <th>Mobile No.</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="deliveryCount > 0; else emptyBlock;">
                                    <tr *ngFor="let item of dashboardData.readyToBeDelivered">
                                        <td>{{item?._id}}</td>
                                        <td>{{item?.customer?.name}}</td>
                                        <td>{{item?.customer?.phone}}</td>
                                    </tr>
                                </tbody>
                                <ng-template #emptyBlock>
                                    <tr>
                                        <td colspan="3">No data</td>
                                    </tr>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>