<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <a href="javascript:void(0);" routerLink="/admin/store/list"><h5><i class="fas fa-chevron-left mr-2"></i>Geo fencing</h5></a>
    </div>
    <hr>
    <div class="col-6 px-5 py-1">
        <input ngx-google-places-autocomplete [options]='options'  (onAddressChange)="AddressChange($event)" name="storeLocation" required class="form-control"/>
    </div>
    <div class="px-5 py-1">
        <agm-map [latitude]="storeData.lat" [longitude]="storeData.lon" [style.height.px]="300" [zoom]="15">
            <agm-marker [latitude]="storeData.lat" [longitude]="storeData.lon" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
            <agm-polygon [paths]="polygon"></agm-polygon>
        </agm-map>
    </div>
    <form class="edit-form">
        <div class="col-lg-12">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of locationList; let i=index;">
                        <td>
                            {{item}}
                        </td>
                        <td>
                            {{polygon[i].lat}}
                        </td>
                        <td>
                            {{polygon[i].lng}}
                        </td>
                        <td>
                            <i class="fas fa-times pointer" (click)="removePointer(i);"></i>
                        </td>
                    </tr>
                </tbody>
            </table>       
            <div class="col-lg-4">
                <!-- <span class="text-danger">{{errorMessage}}</span> -->
            </div>

        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton" routerLink='/admin/store/list'>Cancel</button>
            <button type="submit" class="ml-2 actionbutton" (click)="storeFormSubmit()">SAVE</button>
        </div>
    </form>
</div>