<div class="dashboard-body-content">
    <h5>{{formType}} category</h5>
    <hr>
    <form class="edit-category-form" [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">
        <div class="row m-0 pt-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Category Name</label>
                            <input type="text" placeholder="Enter category name" formControlName = "name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Category Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="deliveryCharge"> Regular Delivery Charge </label>
                            <input type="number" formControlName="deliveryCharge" placeholder="Enter regular delivery charge" class="form-control" [ngClass]="{'is-invalid':submitted && f.deliveryCharge.errors}" />
                            <div *ngIf='submitted && f.deliveryCharge.errors' class="invalid-feedback">
                                <div *ngIf="f.deliveryCharge.errors.required">Delivery Charge is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="deliveryDuration"> Regular Delivery Duration</label>
                            <input type="number" formControlName="deliveryDuration" placeholder="Enter regular delivery duration in days" class="form-control" [ngClass]="{'is-invalid': submitted && f.deliveryDuration.errors}">
                            <div *ngIf="submitted && f.deliveryDuration.errors" class="invalid-feedback">
                                <div *ngIf="f.deliveryDuration.errors.required">Delivery Duration is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="expressDeliveryDuration"> Express Delivery Duration</label>
                            <input type="number" formControlName="expressDeliveryDuration" placeholder="Enter express delivery duration in days" class="form-control" [ngClass]="{'is-invalid':submitted && f.expressDeliveryDuration.errors}">
                            <div *ngIf="submitted && f.expressDeliveryDuration.errors" class="invalid-feedback">
                                <div *ngIf="f.expressDeliveryDuration.errors.required">Express Delivery Duration is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="motherCategory">Mother Category</label>
                            <select class="form-control" formControlName="motherCategory" placeholder="Select Company" class="form-control"  [ngClass]="{'is-invalid':submitted && f.motherCategory.errors}">
                                <option *ngFor="let motherCat of motherCategoryList; let i = index" [value]="motherCat._id">
                                    {{motherCat.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.motherCategory.errors" class="invalid-feedback">
                                <div *ngIf="f.motherCategory.errors.required">Select a Mother Category</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="planName">Plan Name</label>
                            <input type="text" placeholder="Enter plan name" formControlName = "planName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.planName.errors }" />
                            <div *ngIf="submitted && f.planName.errors" class="invalid-feedback">
                                <div *ngIf="f.planName.errors.required">Plan Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="planAmount">Plan Amount</label>
                            <input type="number" placeholder="Enter plan Amount" formControlName = "planAmount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.planAmount.errors }" />
                            <div *ngIf="submitted && f.planAmount.errors" class="invalid-feedback">
                                <div *ngIf="f.planAmount.errors.required">Plan Amount is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="maxWeight">Maximum Weight</label>
                            <input type="text" placeholder="Enter maximum weight (in kg)" formControlName = "maxWeight" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maxWeight.errors }" />
                            <div *ngIf="submitted && f.maxWeight.errors" class="invalid-feedback">
                                <div *ngIf="f.maxWeight.errors.required">Maximum Weight is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="priceExtraWeightPerKg">Price Extra Weight Per Kg</label>
                            <input type="number" placeholder="Enter priceExtraWeightPerKg" formControlName = "priceExtraWeightPerKg" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.priceExtraWeightPerKg.errors }" />
                            <div *ngIf="submitted && f.priceExtraWeightPerKg.errors" class="invalid-feedback">
                                <div *ngIf="f.priceExtraWeightPerKg.errors.required">Price Extra Weight Per Kg is required</div>
                            </div>
                        </div>
                    </div>
                </div>                                               
            </div>
        </div>
        <span class="text-danger">{{errorMessage}}</span>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton" (click)="cancel()">Cancel</button>
            <button type="submit" class="ml-2 actionbutton">SAVE</button>
        </div>
    </form>
</div>