<div class="dashboard-body-content">
    <h5>{{formType}} category</h5>
    <hr>
    <form class="edit-category-form" [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">
        <div class="row m-0 pt-3">
            <div class="col-lg-2">
                <!-- <div class="brand-wrapper"> -->
                    <!-- <input type="file" class="brand-file"> -->
                    <input type="file" formControlName="image" (change)="fileProgress($event)" />
                    <img [src]="previewUrl" height="100" /> 
                    <!-- <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                        <div *ngIf="f.image.errors.required">Please choose an image</div>
                    </div>  -->
                <!-- </div> -->
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Category Name</label>
                            <input type="text" placeholder="Enter category name" formControlName = "name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Category Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="desc">Description</label>
                            <textarea placeholder="Enter category description" formControlName = "desc" class="form-control" [ngClass]="{'is-invalid': submitted && f.desc.errors}"></textarea>
                            <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                                <div *ngIf="f.desc.errors.required">Description is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="smallDesc"> Short Description</label>
                            <input type="text" formControlName="smallDesc" placeholder="Enter category short description" class="form-control" [ngClass]="{'is-invalid':submitted && f.smallDesc.errors}" />
                            <div *ngIf="submitted && f.smallDesc.errors" class="invalid-feedback">
                                <div *ngIf="f.smallDesc.errors.required">Short Description is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="deliveryCharge"> Regular Delivery Charge </label>
                            <input type="number" formControlName="deliveryCharge" placeholder="Enter regular delivery charge" class="form-control" [ngClass]="{'is-invalid':submitted && f.deliveryCharge.errors}" />
                            <div *ngIf='submitted && f.deliveryCharge.errors' class="invalid-feedback">
                                <div *ngIf="f.deliveryCharge.errors.required">Delivery Charge is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="deliveryDuration"> Regular Delivery Duration</label>
                            <input type="number" formControlName="deliveryDuration" placeholder="Enter regular delivery duration in days" class="form-control" [ngClass]="{'is-invalid': submitted && f.deliveryDuration.errors}">
                            <div *ngIf="submitted && f.deliveryDuration.errors" class="invalid-feedback">
                                <div *ngIf="f.deliveryDuration.errors.required">Delivery Duration is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="deliveryDurationText"> Regular Delivery Duration Text</label>
                            <input type="text" formControlName="deliveryDurationText" placeholder="Enter regular delivery duration text" class="form-control" [ngClass]="{'is-invalid': submitted && f.deliveryDurationText.errors}">
                            <div *ngIf="submitted && f.deliveryDurationText.errors" class="invalid-feedback">
                                <div *ngIf="f.deliveryDurationText.errors.required">Delivery Duration Text is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="expressDeliveryCharge"> Express Delivery Charge </label>
                            <input type="number" formControlName="expressDeliveryCharge" placeholder="Enter express delivery charge" class="form-control" [ngClass]="{'is-invalid': submitted && f.expressDeliveryCharge.errors}">
                            <div *ngIf="submitted && f.expressDeliveryCharge.errors" class="invalid-feedback">
                                <div *ngIf="f.expressDeliveryCharge.errors.required">Express Delivery Charge is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="expressDeliveryDuration"> Express Delivery Duration</label>
                            <input type="number" formControlName="expressDeliveryDuration" placeholder="Enter express delivery duration in days" class="form-control" [ngClass]="{'is-invalid':submitted && f.expressDeliveryDuration.errors}">
                        </div>
                        <div *ngIf="submitted && f.expressDeliveryDuration.errors" class="invalid-feedback">
                            <div *ngIf="f.expressDeliveryDuration.errors.required">Express Delivery Duration is required</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="expressDeliveryDurationText"> Express Delivery Duration Text</label>
                            <input type="text" formControlName="expressDeliveryDurationText" placeholder="Enter express delivery duration text" class="form-control" [ngClass]="{'is-invalid':submitted && f.expressDeliveryDurationText.errors}">
                        </div>
                        <div *ngIf="submitted && f.expressDeliveryDurationText.errors" class="invalid-feedback">
                            <div *ngIf="f.expressDeliveryDurationText.errors.required">Express Delivery Duration Text is required</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="companyId">Company</label>
                            <select class="form-control" formControlName="companyId" placeholder="Select Company" class="form-control"  [ngClass]="{'is-invalid':submitted && f.companyId.errors}">
                                <option *ngFor="let company of companyList; let i = index" [value]="company._id">
                                    {{company.name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="submitted && f.companyId.errors" class="invalid-feedback">
                            <div *ngIf="f.companyId.errors.required">Select a company</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">City</label>
                            <select class="form-control" formControlName='city' placeholder="Select City" class="form-control" [ngClass]="{'is-invalid':submitted && f.city.errors}">
                                <option *ngFor="let city of cityList" [value]="city._id">
                                    {{city.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">Select a city</div>
                            </div>
                        </div>
                    </div>
                </div>                                               
            </div>
        </div>
        <span class="text-danger">{{errorMessage}}</span>
            <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton" (click)="cancel()">Cancel</button>
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>