<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <a href="javascript:void(0);" routerLink="/admin/service-boy/list"><h5><i class="fas fa-chevron-left mr-2"></i>{{formType}} Service Boys</h5></a>
    </div>
    <hr>

    <!-- {{serviceBoyform.value | json}} -->
    
    <form class="edit-form" [formGroup]="serviceBoyform" (ngSubmit)="submitServiceBoy()">
        <!-- <div class="col-lg-2">
            <div class="brand-wrapper">
                <!-- <input type="file" class="brand-file"> -->
                <!-- <input type="file" #image="ngModel" ngModel name="image" id="image" (change)="fileProgress($event)" />
                <img [src]="previewUrl" height="100" />  
            </div> 
        </div> -->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="name">Service Boy Name</label>
                        <input type="text"  placeholder="Enter service boy name" formControlName = "name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Customer Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="formType=='Add'">
                    <div class="form-group edit-box">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Enter email" class="form-control" formControlName = "email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email-id is required</div>
                            <div *ngIf="f.email.errors.pattern">Enter a valid email-id</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6" *ngIf="formType=='Add'">
                    <div class="form-group edit-box">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Enter password" formControlName = "password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">Password must be have at least 8 characters long 1 uppercase, 1 lowercase, 1 special character & 1 number</div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="formType=='Add'">
                    <div class="form-group edit-box">
                        <label for="conFirmpassword">Confirm Password</label>
                        <input type="password" placeholder="Enter confirm password" autocomplete="new-conFirmpassword" formControlName = "conFirmpassword" [ngClass]="{ 'is-invalid': submitted && f.conFirmpassword.errors }" class="form-control">
                        <div *ngIf="submitted && f.conFirmpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.conFirmpassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.conFirmpassword.errors.confirmedValidator">Password does not match.</div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="phone"> Phone </label>
                        <input type="number" placeholder="Enter phone number" class="form-control" formControlName = "phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">  
                            <div *ngIf="f.phone.errors.required">Phone is required.</div>  
                            <div *ngIf="f.phone.errors.pattern">Please enter 10 digit phone number.</div>  
                        </div>  
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Select Gender</label>
                    <label>
                        <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                        <span>Male</span>
                    </label>
                    <label>
                        <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                        <span>Female</span>
                    </label>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="age"> Age  </label>
                        <input type="number" placeholder="Enter age" class="form-control" formControlName = "age" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                        <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                            <div *ngIf="f.age.errors.required">Age is required</div>
                            <div *ngIf="f.age.errors.pattern">Age must be 2digit</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="pan"> PAN  </label>
                        <input type="text" placeholder="Enter pan no (optional)" class="form-control" formControlName = "pan" [ngClass]="{ 'is-invalid': submitted && f.pan.errors }" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="aadhar"> Aadhar </label>
                        <input type="number" placeholder="Enter aadhar no (optional)" class="form-control" formControlName = "aadhar" [ngClass]="{ 'is-invalid': submitted && f.aadhar.errors }" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="bankAcNo"> Bank Account No.</label>
                        <input type="text" placeholder="Enter Bank Acccount No." class="form-control" formControlName = "bankAcNo" [ngClass]="{ 'is-invalid': submitted && f.bankAcNo.errors }" />
                        <div *ngIf="submitted && f.bankAcNo.errors" class="invalid-feedback">
                            <div *ngIf="f.bankAcNo.errors.required">Bank Ac No. is required</div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="wallet"> Service Boy Type  </label>
                        <select formControlName="boy_type" class="form-control">
                            <!-- <option disabled>Select Service Boy Type</option> -->
                            <option *ngFor="let serviceBoy of serviceBoyType">{{serviceBoy}}</option>
                        </select>
                        <div *ngIf="submitted && f.boy_type.errors" class="invalid-feedback">
                            <div *ngIf="f.boy_type.errors.required">Select a service boy type</div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="wallet"> Store alloted  </label>
                        <select formControlName="store" class="form-control" [ngModel]="selectedStore">
                            <!-- <option disabled>Select Service Boy Type</option> -->
                            <option *ngFor="let store of storelist" [value]="store._id">{{store.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.store.errors" class="invalid-feedback">
                            <div *ngIf="f.store.errors.required">Select a service boy type</div>
                        </div>
                    </div>
                </div>
            </div>                                               
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton" (click)="cancel()">Cancel</button>
            <button type="submit" class="ml-2 actionbutton">SAVE</button>
        </div>
    </form>
</div>
