<ngx-ui-loader loaderId="loader"></ngx-ui-loader>
<div class="customer-details-container" *ngIf="showHeaderSidebar; else noSidebarHeaderBlock;">
    <div class="row">
      <!-- sidebar -->
        <app-sidebar></app-sidebar>
        <div class="dashboard-body" id="content">
            <div class="dashboard-content">
                <!-- header -->
                <app-header></app-header>
                <hr>
                <!-- content -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<ng-template #noSidebarHeaderBlock>
    <router-outlet></router-outlet>
</ng-template>