<div class="dashboard-body-content">
    <div class="row d-flex justify-content-between align-items-center mb-3 pb-3 border-bottom row-header"> 
        <div class="col-lg-8 d-flex justify-content-start align-items-center">
            <h5>Settings</h5>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-md-3 ml-auto mb-4">
            <div class="input-group ">
                
            </div>
        </div>
    </div>
    <div class="table-responsive edit-table card-body pt-0 pb-0">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Logo</th>
                    <th style="width:80px" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let settings of settingsData; let i = index">
                    <td>{{settings.name}}</td>
                    <td>{{settings.addrees}}</td>
                    <td>{{settings.phone}}</td>
                    <td>{{settings.email}}</td>
                    <td>{{settings.desc}}</td>
                    <!-- <td><img src="{{(settings.logo) || ''}}" alt="settings Img"></td>                     -->
                    <td><img src="../../../../../assets/img/blank-ticket.png" alt="settings Img"></td>                    
                    <td class="text-center">
                        <a routerLink="/admin/master-settings/edit/{{settings._id}}"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


