<div class="dashboard-menubar" id="sidebar">
    <div class="image-wrapper logo-wrapper customer-logo">
        <img src="./assets/img/logo.png" class="img-fluid logo">
    </div>
    <nav class="border-top">
        <ul class="menu">
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/city/list"><i class="fa fa-tachometer" aria-hidden="true"></i>City</a></li>
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/mother-category/list"><i class="fa fa-certificate" aria-hidden="true"></i>Mother Category</a></li>
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/category/list"><i class="fa fa-certificate" aria-hidden="true"></i>Category</a></li>
            <!-- <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/sub-category/list"><i class="fa fa-certificate" aria-hidden="true"></i>Sub Category</a></li> -->
            <!-- <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/company/list"><i class="fa fa-home" aria-hidden="true"></i>Company</a></li> -->
            
            <li routerLinkActive="active"><a routerLink="/admin/customer/list"><i class="fa fa-user" aria-hidden="true"></i>Customer</a></li>
            <li routerLinkActive="active"><a routerLink="/admin/store-owner/list"><i class="fas fa-store" aria-hidden="true"></i>Store Owner</a></li>
            <li routerLinkActive="active"><a routerLink="/admin/store/list"><i class="fas fa-store" aria-hidden="true"></i>Store</a></li>
            <li routerLinkActive="active"><a routerLink="/admin/order/list" href="javascript:void(0);"><i class="fa fa-first-order" aria-hidden="true"></i>Orders</a></li>
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/service-boy/list"><i class="fa fa-user" aria-hidden="true"></i>Service Boys</a></li>
            <!-- <li><a href="javascript:void(0);"><i class="fa fa-exchange"></i>Wallet Transaction</a></li> -->
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/pick_up/list"><i class="fas fa-truck" aria-hidden="true"></i>Pick Up List</a></li>
            <!-- <li><a href="javascript:void(0);"><i class="fas fa-truck" aria-hidden="true"></i>Delivery List</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-list-alt" aria-hidden="true"></i>washing List</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-industry" aria-hidden="true"></i>Factory Orders</a></li> -->
            <li routerLinkActive="active"><a routerLink="/admin/item/list"><i class="fa fa-tasks" aria-hidden="true"></i>Item Manager</a></li>   
            <!-- <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/offer/list"><i class="fa fa-gift" aria-hidden="true"></i>Offer Manager</a></li> -->
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/coupon/list"><i class="fa fa-tag" aria-hidden="true"></i>Coupon Manager</a></li>                       
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/rate-card/list"><i class="fa fa-money" aria-hidden="true"></i>Price Manager</a></li>
            <!-- <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/plan/list"><i class="fa fa-bar-chart" aria-hidden="true"></i>Plan Manager</a></li>        -->
            <!-- <li><a href="javascript:void(0);"><i class="fa fa-truck" aria-hidden="true"></i>Pickup Manager</a></li> 
            <li><a href="javascript:void(0);"><i class="fa fa-credit-card" aria-hidden="true"></i>Payment</a></li>
            <li><a href="#electronicsSubmenu3" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fa fa-bell"></i>Notification</a>
                <ul class="list-unstyled collapse" id="electronicsSubmenu3">
                    <li>
                        <a href="javascript:void(0);"><i class="fas fa-bell"></i>Send Notification</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fas fa-envelope"></i>Send Email</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fas fa-sms"></i>Send SMS</a>
                    </li>
                </ul>
            </li> -->
            <li routerLinkActive="active"><a href="javascript:void(0);" routerLink="/admin/master-settings"><i class="fas fa-cog" aria-hidden="true"></i>Settings</a></li>
            <li><a href="javascript:void(0);" (click)="logoutAdmin()"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Logout</a></li>
        </ul>
    </nav>
</div>