<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <h5>{{formType}} Pick Up</h5>
    </div>
    <hr>
    <form class="edit-form" [formGroup]="pickUpForm" (ngSubmit)="submitpickUpForm()">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="customerId">Customer Name</label>
                        <select class="form-control w-100" name="customerId"  formControlName = "customerId" required (change)="addressList($event)" [ngClass]="{'is-invalid':submitted && f.customerId.errors}">
                            <option *ngFor="let customer of allCustomer; let i = index" [value]="customer._id">
                                {{customer.name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.customerId.errors" class="invalid-feedback">
                            <div *ngIf="f.customerId.errors.required">Choose a customer</div>
                        </div> 
                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="addressId">Address</label>
                        <select class="form-control w-100" name="addressId"  formControlName = "addressId" required [ngClass]="{'is-invalid':submitted && f.addressId.errors}">
                            <option *ngFor="let address of addressListing; let i = index" [value]="customer._id">
                                {{address.addressLine1}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.addressId.errors" class="invalid-feedback">
                            <div *ngIf="f.addressId.errors.required">Choose a customer</div>
                        </div> 
                    </div>
                </div> -->
                <br>
                <div class="row" *ngIf="addressListing.length > 0">
                    <div class="col-lg-4 py-2" *ngFor="let address of addressListing">
                        <div class="package-container recommend">
                            <!-- <input type="checkbox" formControlName = "addressId" (change)="onChecklistChange($event, address)" value="{{address._id}}" >  -->
                            <input id="{{address._id}}" type="radio" value="{{address._id}}" name="addressId" formControlName="addressId">
                            <h6 class="mb-2"><span>{{address.addressLine1}}</span></h6>
                            <h6>{{address.addressLine2}}</h6>
                            <p class="m-0">{{address.location}}</p>
                            <p class="m-0">{{address.city}}, {{address.state}}, {{address.country}}</p>
                            <p class="m-0">{{address.pin}}</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="pickup_date">Pickup Date</label>
                        <!-- <input type="time" id="pickup_date" placeholder="Choose Start Time Slot" formControlName = "pickup_date" class="form-control" mdbInput [ngClass]="{ 'is-invalid': submitted && f.pickup_date.errors }" /> -->
                        <input type="date" formControlName="pickup_date" >
                        <div *ngIf="submitted && f.pickup_date.errors" class="invalid-feedback">
                            <div *ngIf="f.pickup_date.errors.required">Start Time is required</div>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group edit-box">
                        <label for="pickup_time">Pickup Time </label>
                        <input type="time" id="pickup_time" placeholder="Choose End Time Slot" formControlName = "pickup_time" class="form-control" mdbInput [ngClass]="{ 'is-invalid': submitted && f.pickup_time.errors }" />
                        <div *ngIf="submitted && f.pickup_time.errors" class="invalid-feedback">  
                            <div *ngIf="f.pickup_time.errors.required">End Time is required.</div>  
                        </div>  
                    </div>
                </div>
            </div>                                               
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton" (click)="cancel()">Cancel</button>
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>




