<div class="dashboard-body-content">
    <div class="d-block">
        <div class="float-left">
            <h5>Pickup List</h5>
        </div>
        <div class="float-right">
            <a href="javascript:void(0);" class="orderbtn btn btn-sm" data-toggle="modal" data-target="#exportModal">Export Data</a>
            <a href="javascript:void(0);" class="orderbtn btn btn-sm" (click)="searchPickupByStatus()">Cancelled Orders</a>
            <a href="javascript:void(0);" class="orderbtn btn btn-sm">Create pickup for B2B users</a>
            <a href="javascript:void(0);" class="orderbtn btn btn-sm">Store drops</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr>
    <div class="row m-0">
        <div class="col-12 col-md-10 ml-auto mb-4 row m-0 d-flex justify-content-end p-0">
            <div class="col-12 col-md-3 plr-2">
                <input type="text" class="form-control" placeholder="Name/mobile.address/order id..." aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="col-12 col-md-3 plr-2">
                <input type="date" class="form-control" (change)="searchPickupDate($event)">
            </div>
            <div class="col-12 col-md-3 plr-2">
                <select class="form-control" (change)="searchPickupDateRange($event)">
                    <option value="all">All</option>
                    <option value="today">Today</option>
                    <option value="week">Last 7 days</option>
                    <option value="month">Last 30 days</option>
                    <option value="year">Last 1 year</option>
                </select>
            </div>
            <div class="col-12 col-md-1 pl-2 pr-0 d-flex justify-content-end align-items-center">
                <a href="javascript:void(0);" class="orderbtn btn btn-sm" data-toggle="modal" data-target="#showModal">Show</a>
                
            </div>
            <div class="col-12 col-md-1 pl-0 pr-0 d-flex align-items-center" *ngIf="filter">
                <a href="javascript:void(0);" class="orderbtn btn btn-sm" (click)="clearFilter()">Clear</a>
            </div>
                <!-- <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary searchbtn" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
            </div> -->
        </div>
    </div>
    <div class="table-responsive edit-table card-body p-0">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <!-- <tr>
                    <td colspan="7"></td>
                    <td>25</td>
                    <td>30</td>
                    <td><span>₹</span> 30.00</td>
                    <td><span>₹</span> 30.00</td>
                    <td></td>
                </tr> -->
                <tr>
                    <!-- <th><label><input type="checkbox" class="form-check-input" id="exampleCheck1"></label></th> -->
                    <th></th>
                    <th>Pickup Id</th>
                    <th>Pickup Date</th>
                    <th>Pickup Time</th>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th style="width:80px" class="text-center" colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pickup of pickUpData; let i=index">
                    <td><input type="checkbox" class="form-check-input" id="exampleCheck{{i}}"></td>
                    <td>{{pickup._id}}</td>
                    <td>{{pickup.pickup_date | date:'d MMM, Y'}}</td>
                    <td>{{pickup.pickup_time}}</td>
                    <td>{{pickup?.customerId?.name}}</td>
                    <td>{{pickup?.customerId?.phone}}</td>
                    <td>{{pickup?.addressId?.addressLine1}}</td>
                    <td><span class="badge badge-warning" (click)="openModalWithClass(template,pickup._id)">{{pickup.status}}</span></td>
                    <td class="text-center">
                        <a href="javascript:void(0);" routerLink="/admin/pick_up/edit/{{pickup._id}}"><i class="far fa-edit" title="Edit Boy" ></i></a>
                        <!-- <a href=""><i class="fas fa-cart-plus"  data-placement="left" data-toggle="tooltip" title="Create Order" ></i></a>
                        <a href=""><i class="fas fa-truck-pickup"  data-placement="left" data-toggle="tooltip" title="Order Picked" ></i></a>
                        <a href=""><i class="fa fa-window-close"  data-placement="left" data-toggle="tooltip" title="Cancel Order" ></i></a> -->
                        <a href="javascript:void(0);" (click)="deletePickUp(pickup._id)"><i class="far fa-trash-alt" title="Delete Order" ></i></a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="pagination-container mt-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left previous-img"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link active" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right next-img"></i></a></li>
        </ul>
    </nav>
</div>

<ng-template #template>  
    <div class="modal-header">  
        <h4 class="modal-title pull-left">Status Update</h4>  
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
            <span aria-hidden="true">×</span>  
        </button>  
    </div>
        <form class="edit-form" [formGroup]="statusForm" (ngSubmit)="submitStatus()">   
            <div class="modal-body">  
                <div class="form-group edit-box">
                    <label for="status">Status change</label>
                    <select class="form-control w-100" name="status"  formControlName = "status" required [ngClass]="{'is-invalid':submitted && f.status.errors}">
                        <option *ngFor="let status of allStatus; let i = index" [value]="status">
                            {{status}}
                        </option>
                    </select>
                </div>
                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                    <div *ngIf="f.status.errors.required">Select any status</div>
                </div>             
            </div>  
        <div class="modal-footer">  
            <button type="submit" class="btn btn-default">Save</button>  
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>  
        </div>  
    </form>
</ng-template>  