<div class="dashboard-body-content">
                        
    <div class="row m-0">
        <div class="add-header">
            <h5>{{formType}} Sub Category</h5>
        </div>
        <form class="edit-form" class="w-100" [formGroup]="subCategory" (ngSubmit)="submitsubCategoryForm()">
           <div class="row m-0">
                <div class="col-lg-2 mt-3">
                    <div class="brand-wrapper">
                        <input type="file" class="brand-file">
                    </div>
                </div>
                <div class="col-lg-10 mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group edit-box">
                                <label for="name">Name</label>
                                <input type="text"  placeholder="Enter sub-category name" formControlName = "name" class="form-control  w-100" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group edit-box">
                                <label for="desc">Description</label>
                                <textarea name="desc" class="form-control w-100" formControlName = "desc" placeholder="Enter sub-category descriptions" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"></textarea>
                                <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                                    <div *ngIf="f.desc.errors.required">Description is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group edit-box">
                                <label for="smallDesc">Small Descriptions</label>
                                <input type="text" name="smallDesc" class="form-control w-100" formControlName = "smallDesc"  placeholder="Enter small descriptions" [ngClass]="{ 'is-invalid': submitted && f.smallDesc.errors }">
                                <div *ngIf="submitted && f.smallDesc.errors" class="invalid-feedback">
                                    <div *ngIf="f.smallDesc.errors.required">Small description is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group edit-box">
                                <label for="category">Select Category</label>
                                <select class="form-control w-100" name="category"  formControlName = "category" required [ngClass]="{'is-invalid':submitted && f.category.errors}">
                                    <option *ngFor="let category of categoryList; let i = index" [value]="category._id">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-end">
                            <button class="actionbutton btn btn-sm ml-3">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





