<div class="dashboard-body-content">
    <div class="d-block">
        <div class="float-left">
            <h5>Customer Address</h5>
        </div>
        
        <div class="float-right">
            <a href="javascript:void(0);" routerLink="/admin/customer/list" class="orderbtn btn btn-sm">Back</a>
        </div>
        <div class="float-right">
            <a href="javascript:void(0);" (click)="add()" class="orderbtn btn btn-sm">Add Customer Adress</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-md-3 ml-auto mb-4">
            <div class="input-group ">
                
            </div>
        </div>
    </div>
    <div class="table-responsive edit-table">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Sl no.</th>
                    <th>Address</th>
                    <th>Landmark</th>
                    <th>City</th>
                    <th>Pin</th>
                    <th style="width: 150px;">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="addressListing.length > 0; else otherBlock">
                <tr *ngFor="let address of addressListing; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{address.addressLine1}}</td>
                    <td>{{address?.landmark}}</td>
                    <td>{{address.city}}</td>
                    <td>{{address.pin}}</td>
                    <td class="text-center">
                        <a routerLink="/admin/customer-address/edit/{{address.customerId}}/{{address._id}}"><i class="far fa-edit"></i></a>
                        <!-- <a href="javascript:void(0);" class="ml-2" (click)="deleteAddress(address._id)"><i class="far fa-trash-alt text-danger"></i></a> -->
                    </td>
                   
                </tr>
            </tbody>
            <ng-template #otherBlock>
                <tbody>
                    <tr>
                        <td colspan="7">No data!</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
  
</div>

